/* Large rounded gray border - separator */
hr.bold-gray {
  border: 1px solid darkgray;
  border-radius: 2px;
}

.header-properties {
    padding: 5px 5px 30px 5px;
}

/*Buttong properties*/
.btn-primary {
  background-color: brown;
  border-color: brown;
  border: 7px solid transparent;
  font-size: x-large;

  
  /*Creates the rounded button as per the specifications*/
  border-radius: 24px;
  /*Eliptical button
  border-radius: 50%; */
}

/*Dashed border line for the textarea*/
.ta-border {
  border-style: dashed;
}

/*Create a panel look and feel as per specifications*/
.panel-border {
    border-style: inset;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 40px 20px 40px 20px;
}